
/* style.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: bolder;
  background: linear-gradient(to bottom, #333334, #0e0d0f);
  color: white;
  text-align: center;
}

header {
  background-color: red;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  font-size: 14px;
}

.countdown {
  font-size: 20px;
  margin-top: 5px;
}

.logo {
  margin: 30px 0 10px;
  font-size: 28px;
  font-weight: bold;
}

.highlight {
  color: #a89718;
  font-weight: bold;
}

.description {
  font-size: 18px;
  margin: 20px auto;
  width: 90%;
}

.date-box {
  background: #4b24c7;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 15px auto;
  font-weight: bold;
}

.price-box {
  background: rgba(105, 103, 10, 0.8);
  border: 2px solid rgb(255, 255, 41);
  margin: 20px auto;
  padding: 30px 20px;
  border-radius: 15px;
  max-width: 400px;
}

.old-price {
  color: red;
  text-decoration: line-through;
}

.new-price {
  font-size: 36px;
  font-weight: bold;
  color: rgb(242, 240, 240);
  margin: 10px 0;
}

.note {
  color: #fff6a9;
  margin-bottom: 20px;
}

.cta-button {
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  background-color: #ff9100c9;
  color: rgb(10, 8, 8);
  font-weight: bold;
  cursor: pointer;
  animation: pulse 2s infinite;
  transition: transform 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #fcad01;
  }
  50% {
    transform: scale(1.1);
    background-color: #cc7e00;
  }
  100% {
    transform: scale(1);
    background-color: #b06d02;
  }
}

footer {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .description {
    font-size: 20px;
    max-width: 600px;
  }
}
